<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form method="post" action="~/Models/Name.cshtml">

        <label for="name_input">Name</label>
        <input name="name_input" type="text" />
        <input type="submit" value="Send"/>
    </form>
</body>
</html>
