table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: solid #ffffff;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#buttons_div, button{
    margin-left: 10px;
}